section.main-slider #myCarousel {
	margin-top: 89px;
}
#myCarousel .nav a small
{
	display: block;
}
.kotak-hijau{
	margin-top: -66px;
}
.carousel-inner .item {
	width: 100%;
	height: auto;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

#main-slider .carousel-inner .item::after{
	position: absolute;
	content: '';
	width: 100%;
	bottom: 84px;
	box-shadow: 0px 0px 140px 100px rgba(0,0,0,0.42);
	height: 0px;
	background: #000;
}

.carousel-inner .item img {
	min-width: 100%;
	max-width: none;
	margin-left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	/* IE 5-7 */
	filter: alpha(opacity=1);
	/* modern browsers */
	opacity: 1;
	position: relative;
}

.carousel-caption {
	font-family: 'Open Sans';
	left: 13%;
	bottom: 80px;
	text-shadow: 0 2px 10px rgba(0,0,0,0.6);
}
.carousel-caption h3 {
	text-align: left;
	font-size: 2.6em;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0.5px;
	color:#fff;
	text-decoration:none;
}
.carousel-caption a:hover{
	text-decoration:none;
}

.carousel-caption p {
	text-align: left;
	font-size: 1.4em;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.nav-justified > li > a
{
	border-radius: 0px;
	font-family: Raleway;
	font-weight: 600;
	color: #fff;
	font-size: 1em;
	background-color: rgba(6,106,101,0.75);
	padding: 21px 0;
	text-shadow: 0 1px 3px rgba(0,0,0,0.3);
	letter-spacing: 1px;
	transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	border-top: 3px solid transparent;
}
.nav-justified > li > a:hover, .nav-justified > li > a:focus{
	background-color: rgba(42,152,151,0.8);
}
.carousel-control.left {

	background-image: none;
	background: #d92b31;
	border: 4px solid #d92b31;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	left: 90px;
	opacity: 1;
	width : 40px;
	top:40%;
	display: inline-block;
}
.carousel-control.right {

	background-image: none;
	background: #d92b31;
	border: 4px solid #d92b31;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	right: 90px;
	width : 40px;
	opacity: 1;
	top:40%;
	display: inline-block;
}


.nav-pills>li[data-slide-to="0"].active a { border-top: 3px solid transparent;background-color: rgba(4,79,76,1);}
.nav-pills>li[data-slide-to="1"].active a { border-top: 3px solid transparent;background-color: rgba(4,79,76,1);}
.nav-pills>li[data-slide-to="2"].active a { border-top: 3px solid transparent;background-color: rgba(4,79,76,1);}
.nav-pills>li[data-slide-to="3"].active a { border-top: 3px solid transparent;background-color: rgba(4,79,76,1);}

.carousel-inner.kelas-edukasi .item img {
	background: #c5c5c5;
}
.carousel-inner.kelas-edukasi .carousel-caption {
	left: 3.5%;
	right: 3.5%;
	bottom: 0px;
	padding-left: 15px;
	text-align: left;
	background: rgba(65, 181, 179, 0.52);
}
ol.carousel-indicators.kelas {
	bottom: -44px;
	z-index: 1;
}
ol.carousel-indicators.kelas li.active { 
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: transparent;
	border: 1px solid #41b5b3;
}
ol.carousel-indicators.kelas li {
	width: 12px;
	border: 0;
	height: 12px;
	margin: 0;
	background-color: #58595b;
}

@media (max-width:480px)  { 
	.carousel-control.right{
		right:20px;
		top:13%;
	}
	.carousel-control.left{
		left:20px;
		top:13%;
	}
	.carousel-inner .item img{
		max-width:100%;
	}
	.nav-justified > li > a{
		font-size:0.7em;
		padding:2px 0;
	}
	.kotak-hijau {
		margin-top:4px;
	}
	.carousel-caption{
		display:none;
	}
	.carousel-inner{
		height: 110px
	}
}